/* CCS Reset */
body {
    font-family: poppins;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Main CSS */

/* Styling the Header */
header {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > nav {
    display: flex;
}

.navPanel {
    display: flex;
}

header > nav > ul > li {
    padding: 20px;
}

header > nav > ul > li > a {
    color: white;
    font-weight: bold;
}

header > nav > ul > li:hover {
    background-color: bisque;
}

#navBtn {
    font-size: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    color: white;
    font-weight: bold;
}

/* Styling the Banner */
.banner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.banner > img {
    text-align: center;
    width: 80%;
    object-fit: contain;
}

@media (max-width: 500px) {
    .navPanel {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        /* align-content: stretch; */
        text-align: center;
        background-color: gray;
    }
    #navBtn { 
        display: contents;
    }
    .active {
        display: flex;
    }
}