/* CCS Reset */
body {
    font-family: poppins;
    padding: 0;
    margin: 0;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
} */

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Main CSS */

/* Styling the Header */
header {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > nav {
    display: flex;
}

.navPanel {
    display: flex;
}

header > nav > ul > li {
    padding: 20px;
}

header > nav > ul > li > a {
    color: white;
    font-weight: bold;
}

header > nav > ul > li:hover {
    background-color: bisque;
}

#navBtn {
    font-size: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    color: white;
    font-weight: bold;
}

/* Styling the Banner */
.banner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.banner > img {
    text-align: center;
    width: 80%;
    object-fit: contain;
}

h2 {
    margin-bottom: 20px;
}

/* All Form Styles */
form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for profile picture preview */
#profile_picture_preview {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%; /* Make the image circular */
    border: 1px solid #ccc;
    margin-bottom: 20px;
}


@media (max-width: 500px) {
    .navPanel {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        /* align-content: stretch; */
        text-align: center;
        background-color: gray;
    }
    #navBtn { 
        display: contents;
    }
    .active {
        display: flex;
    }
}